<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form>
					<label for="chk" aria-hidden="true">Formulario</label>

					<input type="text" name="txt" placeholder="Nombre Completo" required=""
					name="nombre" #nombre="ngModel" [(ngModel)]="fichaModelPost.nombre">

                    <input type="text" name="txt" placeholder="Carnet" required="" maxlength="6" onkeypress="return ((event.charCode >= 49 && event.charCode <= 57) || (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122))"
					carnet="carnet" #carnet="ngModel" [(ngModel)]="fichaModelPost.carnet">

                    <input type="text" name="txt" placeholder="Dirección" required=""
					direccion="direccion" #direccion="ngModel" [(ngModel)]="fichaModelPost.direccion">
					
                    <select type="text center" name="txt" id="select" >
						<option value="" disabled selected hidden>Genero</option>
						<option *ngFor="let pr of Genero" [value]="pr.genero">{{pr.genero}}</option>
					</select>

                    <input type="text" name="txt" placeholder="Teléfono" required="" maxlength="8" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"
					telefono="telefono" #telefono="ngModel" [(ngModel)]="fichaModelPost.telefono">

                    <input type="date" name="txt" placeholder="Fecha de nacimiento" id="select" required=""
					fechaNacimiento="fechaNacimiento" #fechaNacimiento="ngModel" [(ngModel)]="fichaModelPost.fechaNacimiento">

					<input type="text" name="txt" placeholder="Carrera" required=""
					carrera="carrera" #carrera="ngModel" [(ngModel)]="fichaModelPost.carrera">

                    <select type="text center" name="txt" id="select" >
						<option value="" disabled selected hidden>Genero Poetico</option>
						<option *ngFor="let pr of GeneroPO" [value]="pr.genero">{{pr.genero}}</option>
					</select>
					
					<button (click)="solicitudFicha()" routerLink="/reporte">Enviar</button>
				</form>
			</div>

			<div class="login ">
				<form>
					<label for="chk" aria-hidden="true">+ info</label>
					<h1 class="p-3">Evento de poesía!!</h1>
                <p class="p-3">La Universidad de Guatemala tendrá un evento de poesía y se ha emitido invitación a todos los jóvenes estudiantes a participar</p>
				</form>
			</div>
	</div>
</body>