<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form>
					<label for="chk" aria-hidden="true">Formulario</label>

					<input type="text" placeholder="Nombre Completo" 
					name="nombre" #nombre="ngModel" [(ngModel)]="fichaModelPost.nombre">

                    <input type="text" placeholder="Carnet"  maxlength="6" onkeypress="return ((event.charCode >= 49 && event.charCode <= 57) || (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122))"
					name="carnet" #carnet="ngModel" [(ngModel)]="fichaModelPost.carnet">

                    <input type="text" placeholder="Dirección" 
					name="direccion" #direccion="ngModel" [(ngModel)]="fichaModelPost.direccion">
					
                    <select type="text center" id="select" name="genero" #genero="ngModel" [(ngModel)]="fichaModelPost.genero">
						<option value="" disabled selected hidden>Genero</option>
						<option *ngFor="let pr of tipoGenero" [value]="pr.genero">{{pr.genero}}</option>
					</select>

                    <input type="text" placeholder="Teléfono"  maxlength="8" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"
					name="telefono" #telefono="ngModel" [(ngModel)]="fichaModelPost.telefono">

                    <input type="date" placeholder="Fecha de nacimiento" id="select" 
					name="fechaNacimiento" #fechaNacimiento="ngModel" [(ngModel)]="fichaModelPost.fechaNacimiento">

					<input type="text" placeholder="Carrera" 
					name="carrera" #carrera="ngModel" [(ngModel)]="fichaModelPost.carrera">

                    <select type="text center" id="select" name="generoDePoesia" #generoDePoesia="ngModel" [(ngModel)]="fichaModelPost.generoDePoesia">
						<option value="" disabled selected hidden>Genero Poetico</option>
						<option *ngFor="let pr of GeneroPO" [value]="pr.genero">{{pr.genero}}</option>
					</select>
					
					<button (click)="solicitudFicha()" >Enviar</button>
				</form>
			</div>

			<div class="login ">
					<label for="chk" aria-hidden="true">+ info</label>
					<h1 class="p-3">Evento de poesía!!</h1>
                <p class="p-3">La Universidad de Guatemala tendrá un evento de poesía y se ha emitido invitación a todos los jóvenes estudiantes a participar</p>

				<button routerLink="/reporte">Reporte</button>
			</div>
	</div>
</body>